@model TrashCollector.Models.Customer
@*@model TrashCollector.Models.PickUpDay*@
@{
    ViewBag.Title = "CustomerBillView";
}

<h2>Customer Bill View</h2>


<div>
    <h4>Customer Billing Information</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDay.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDay.DayOfWeek)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PickUpComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpComplete)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CustomPickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomPickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerBill)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            @Html.ActionLink("Back to Customer Index", "Index")
        </div>
    }
</div>
