@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Customer Information</h2>

<p>
    @Html.ActionLink("Create New", "Create","Customer")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomPickUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerBill)
        </th>
        <th></th>
    </tr>


    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>*@
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Street)
        </td>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.State)
        </td>
        <td>
            @Html.DisplayFor(model => model.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.PickUpDay.DayOfWeek)
        </td>
        <td>
            @Html.DisplayFor(model => model.PickUpComplete)
        </td>
        <td>
            @Html.DisplayFor(model => model.CustomPickUp)
        </td>
        <td>
            @Html.DisplayFor(model => model.PickUpStart)
        </td>
        <td>
            @Html.DisplayFor(model => model.PickUpEnd)
        </td>
        <td>
            @Html.DisplayFor(model => model.CustomerBill)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @*@Html.ActionLink("Customer Details", "Details", new { id = item.Id }) |*@
            @*@Html.ActionLink("PickUpDay", "PickUpDay", new { id = item.Id })*@
            @Html.ActionLink("Customer Bill", "CustomerBillView", new { id = Model.Id })
            @Html.ActionLink("Custom Pick Up", "EditExtraPickUp", new { id = Model.Id })
            @*@Html.ActionLink("PickUpStart", "PickUpStart", new { id = item.Id })*@
            @Html.ActionLink("PickUpEnd", "EditSuspendServices", new { id = Model.Id })
            @Html.ActionLink("Customer Delete", "Delete", new { id = Model.Id }) |



        </td>
    </tr>


</table>
